 <tr>
                            <td>1</td>
                            <td>Capuccino</td>
                            <td>3.50</td>
                            <td>Yes</td>
                             <td>
                                 <a href="#" class="btn border-shadow update">
                                     <span class="tex-gradient"><i class="fas fa-pencil-alt"></i></span>
                                 </a>
                                 <a class="btn border-shadow delete">
                                     <span class="tex-gradient"><i class="fas fa-times"></i></span>
                                 </a>
                             </td>
                        </tr>