
<!-- include header -->
<%- include('facilitator/_header') %>
<!-- /include header -->

  <!-- Main Site -->
  <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/"><i class="fas fa-angle-double-left"></i> All Itens</a>
           </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">New Item</h2>
            <span class="text-light">Use the form to add new itens to Menu.</span>
        </div>

        <!-- add item form -->
        <%- include('facilitator/_form') %>
       
    </div>
</main>
<!-- /Main-Page -->

<!-- include footer -->
<%- include('facilitator/_footer') %>
<!-- /include footer -->